= form_for @user, url: '/somewhere' do |f|
  = render 'user_fields', f: f

  = f.fields_for :addresses, permitted_attributes: %i(street) do |af|
    = render 'address_fields', f: af

  = f.fields_for :tag do |tf|
    = render 'tag_fields', f: tf
