= nested_form_for @user, url: '/somewhere' do |f|
  = render 'user_fields', f: f

  = f.fields_for :addresses do |af|
    = render 'address_fields', f: af
  - if params[:inline_link_to_add]
    = f.link_to_add 'Add', :addresses, bla: :blub
  - else
    = f.link_to_add :addresses, bla: :blub do
      Add
